templates/register-managed-services-rp/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_resourceProvider_logicapp_name": {
            "defaultValue": "resourceProvider-logicapp",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_resourceProvider_logicapp_name')]",
            "location": "westeurope",
            "identity": {
                "principalId": "b2930824-58cb-4409-8acd-3a55298d0377",
                "tenantId": "735a94ff-1678-4d98-a63e-17a07762d19e",
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ListOfTenants",
                                        "type": "array",
                                        "value": [
                                            "735a94ff-1678-4d98-a63e-17a07762d19e",
                                            "0e9cd4fe-322b-486f-9b99-eae3675744f7"
                                        ]
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SubscirptionId",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_3": {
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SubscritpionStatus",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "TenantLoop": {
                            "foreach": "@variables('ListOfTenants')",
                            "actions": {
                                "HTTP": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://management.azure.com/",
                                            "clientId": "cedc8f2e-8420-4766-b789-26451d0b8080",
                                            "secret": "O7B.ufIp181hQ3s9G4zx-p-lwp_970HnxJ",
                                            "tenant": "@items('TenantLoop')",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://management.azure.com/subscriptions?api-version=2020-01-01"
                                    }
                                },
                                "Parse_JSON": {
                                    "runAfter": {
                                        "HTTP": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP')",
                                        "schema": {
                                            "properties": {
                                                "count": {
                                                    "properties": {
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "authorizationSource": {
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "managedByTenants": {
                                                                "items": {
                                                                    "properties": {
                                                                        "tenantId": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "tenantId"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            },
                                                            "subscriptionId": {
                                                                "type": "string"
                                                            },
                                                            "subscriptionPolicies": {
                                                                "properties": {
                                                                    "locationPlacementId": {
                                                                        "type": "string"
                                                                    },
                                                                    "quotaId": {
                                                                        "type": "string"
                                                                    },
                                                                    "spendingLimit": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "tenantId": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "authorizationSource",
                                                            "managedByTenants",
                                                            "subscriptionId",
                                                            "tenantId",
                                                            "displayName",
                                                            "state",
                                                            "subscriptionPolicies"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "SubscriptionLoop": {
                                    "foreach": "@body('Parse_JSON')?['value']",
                                    "actions": {
                                        "HTTP_2": {
                                            "runAfter": {
                                                "Set_variable_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://management.azure.com/",
                                                    "clientId": "cedc8f2e-8420-4766-b789-26451d0b8080",
                                                    "secret": "O7B.ufIp181hQ3s9G4zx-p-lwp_970HnxJ",
                                                    "tenant": "@items('TenantLoop')",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "method": "POST",
                                                "uri": "https://management.azure.com/subscriptions/@{variables('SubscirptionId')}/providers/Microsoft.ManagedServices/register?api-version=2021-04-01"
                                            }
                                        },
                                        "Set_variable": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "SubscirptionId",
                                                "value": "@items('SubscriptionLoop')?['subscriptionId']"
                                            }
                                        },
                                        "Set_variable_2": {
                                            "runAfter": {
                                                "Set_variable": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "SubscritpionStatus",
                                                "value": "@items('SubscriptionLoop')?['state']"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ]
}
